
.post-upload-page-div  {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1%;
}

.post-upload-page-div > img {
    height: 50%;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(255,255,255);
}

.post-upload-logo-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.post-upload-links-logo {
    width: 15%;
}

.post-upload-btns-div {
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post-upload-links {
    text-decoration: none;
    color: white;
    background-color: rgb(58, 4, 103);
    padding: 2% 4%;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 8px rgb(255,255,255);
}

.post-upload-links:hover {
    background-color: #ff6f61;
}
