#install-bar-inactive {
    transform: translateY(-2em);
    position: fixed;
    top: 0px;
    left: 2%;
    right: 2%;
    z-index: 1;
    height: 2.3em;
    border: 1px;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
  
    background-color: #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

#install-bar-inactive:hover {
    transform: translateY(0em);
}

#install-bar-active {
    position: fixed;
    top: 0px;
    left: 2%;
    right: 2%;
    z-index: 1;
    height: 2.3em;
    border: 1px;
    color: black;
    font-weight: bold;
    transition: all 0.5s;
  
    background-color: #ececec;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

.button-64 {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#ff6f61);
  border: 0;
  border-radius: 3px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 3px 6px -1px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 12px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
  margin: 0px 10px;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 2px 5px;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}
